* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Baloo Paaji 2', cursive;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    padding: 0px 80px;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(247, 247, 248);
    border-bottom: 1px solid rgb(233, 230, 230);
    padding-top: 10px;
    height: 75px;
    overflow: hidden;
    z-index: 999;
}

.logo .img-logo {
    max-width: 150px;
    mix-blend-mode: multiply;
}

.list-item {
    gap: 0.8rem;
    font-size: 1.3em;
    color: #5d4aaa;
}
.hover-link:hover{
    cursor: pointer;
    color: rgb(102, 101, 101);
}

.search-box {
    display: flex;
    padding: 10px;
    gap: 0.5rem;
    max-height: 50px;

}

.search-box input {
    font-size: 17px;
    font-family: 'Baloo Paaji 2', cursive;
    border-radius: 5px;
    max-width: 180px;
    padding: 4px 4px 4px 10px;
    border: 1px solid #5d4aaa;
    outline: none;
}

.search-box button {
    font-family: 'Baloo Paaji 2', cursive;
    padding: 0px 10px;
    font-size: 17px;
    border: 1px solid #5d4aaa;
    border-radius: 6px;
    color: white;
    background-color: #5d4aaa;
}
.search-box button:hover{
    cursor: pointer;
    background-color: white;
    color: #5d4aaa;
    border: 1px solid #5d4aaa;
    transition: 0.3s;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 20vh;
    margin-bottom: 2rem;
    z-index: 1;

}

.card {
    min-width: 360px;
    max-width: 360px;
    background-color: #faf6f6a8;
    border-radius: 8px;
    overflow: hidden;
    min-height: 370px;
}

.card .poster img {
    width: 100%;
    height: 180px;
    border-radius: 8px 8px 0px 0px;
}

.card:hover {
    cursor: pointer;
    opacity: 0.8;
}

.details {
    padding: 10px;
}

#news-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

#news-source {
    opacity: 0.6;
}

#news-desc {
    font-family: sans-serif;
    text-align: justify;
}